---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Hero from "../components/Hero.astro";
import Text from "../components/Text.astro";
import Slider from "../components/Slider.astro";
import Flex from "../components/Flex.astro";
import Products from "../components/Products.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Vision.R">
  <main>
    <Hero />
    <Text />
    <Slider />
    <Flex />
    <Products />
    <Footer />
  </main>
</Layout>
