<section class="grid items-center justify-center grid-cols-1 md:grid-cols-2">
  <div class="w-full overflow-hidden">
    <img class="cover" src="src/assets/pudique.png" alt="pudique" />
  </div>
  <div class="container">
    <div class="md:mx-8">
      <img class="h-10 w-10" src="src/assets/lock.svg" alt="lock" />
      <h2 class="my-6">
        The pudique (or je suis en pyjama et j’assume pas) effect
      </h2>
      <p>
        With our no camera mode, you can be wherever you want and be en pyjama
        in totale discretion with professionnalisme.
      </p>
    </div>
  </div>
</section>
