<footer class="bg-secondaryBg">
  <div class="flex flex-col py-16 px-8 md:px-12">
    <div class="w-40">
      <img
        class="object-contain"
        src="/images/logo_colorz.png"
        "
        alt="colors"
      />
    </div>
    <div class="mt-8 flex flex-col justify-between md:flex-row">
      <ul class="flex flex-col md:flex-row gap-8">
        <li>
          <p class="font-medium mb-4">Paris</p>
          <p class="flex flex-col font-light md:text-sm">
            <span>16 bis avenue Parmentier</span><span>75011 Paris, France</span
            >
          </p>
        </li>
        <li>
          <p class="font-medium mb-4">Lyon</p>
          <p class="flex flex-col font-light md:text-sm">
            <span>1rue Lalande</span><span>69006 Lyon, France</span>
          </p>
        </li>
        <li>
          <p class="font-medium mb-4">Nous Contacter</p>
          <p class="flex flex-col font-light md:text-sm">
            <span>+33 (0)1 82 83 83 60</span><span>Hello@colorz.fr</span>
          </p>
        </li>
      </ul>
      <img
        class="h-16 w-16 mt-8 md:mt:0 md:ml-auto"
        src="/images/logo_create.png"
        "
        alt="create"
      />
    </div>
  </div>
</footer>
