<section class="min-h-[120vh] md:min-h-[180vh] relative">
  <img
    class="md:hidden overlay h-full w-full absolute object-cover"
    src="/images/Hero_mobile.png"
    alt=""
  />
  <img
    class="hidden md:block overlay h-full w-full absolute object-cover"
    src="/images/Hero_desktop.png"
    alt=""
  />
  <div
    class="container absolute h-full w-full left-1/2 top-1/2 translate-x-[-50%] translate-y-[-50%]"
  >
    <p
      class="text-secondary text-center md:text-sm px-12 mt-[10vh] md:mt-[12vh]"
    >
      Du JAMAIS VU (enfin jusqu’à maintenant, du coup)
    </p>
    <h1 class="text-center my-4 mx-auto md:w-[90%] max-w-[1000px]">
      Avec Vision.R, travaillez au bureau... comme si vous étiez encore à la
      maison !
    </h1>
  </div>
  <button
    class="absolute h-40 w-40 z-10 bottom-[-2rem] right-8 md:right-[15%] md:bottom-1/2 rotate-12 flex rounded-full flex-col items-center justify-center"
  >
    <span class="text-lg">Offre speciale</span>
    <span class="text-3xl">799,99€*</span>
    <span class="font-light">*au lieu de 1.499,99€</span>
  </button>
</section>
