<section class="center relative">
  <img class="slide" src="/images/Slider_A.png" alt="slider_img" />
  <img class="slide hidden" src="/images/Slider_B.png" alt="slider_img" />
  <img class="slide hidden" src="/images/Slider_C.png" alt="slider_img" />
  <div class="center gap-4 absolute bottom-4">
    <div class="point rounded-full h-2 w-2"></div>
    <div class="point rounded-full h-2 w-2"></div>
    <div class="point rounded-full h-2 w-2"></div>
  </div>
</section>

<script>
  let index = 0;
  const slides = document.querySelectorAll(".slide");
  const points = document.querySelectorAll(".point");

  function showSlides() {
    for (let i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
      points[i].style.background = "white";
    }
    if (index >= slides.length) {
      index = 0;
    }
    slides[index].style.display = "block";
    points[index].style.background = "black";
    index++;
    setTimeout(showSlides, 3000);
  }

  showSlides();
</script>
