<section class="py-7">
  <div class="container center text-center font-medium">
    <p class="text-xl md:hidden">
      Vision.R with a grand “R” like in the mot “Revolution” ! You are afraid to
      feel déstabilized with the futur retour au bureau ? With Vision.R, be
      rassuré.e.s ! Get instant, real time, high resolution, social videocall
      and feel comme à la maison. Bref, get ready to faire un carton !
    </p>
    <p class="hidden md:block w-2/3">
      Vision.R with a grand “R” like in the mot “Revolution” !<br /> You are afraid
      to feel déstabilized with the futur retour au bureau ?<br /> With Vision.R,
      be rassuré.e.s ! Get instant, real time, high resolution, social videocall
      and feel comme à la maison. Bref, get ready to faire un carton !
    </p>
    <button class="mt-8"> Buy it now</button>
  </div>
</section>
